*{
    margin: 0;
    padding: 0;
}
.content{
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: relative;
    
}

.img{
    width: 100%;
    height: 99vh;
    position: relative;
    
}
.h1{
    top: 40px;
    position: absolute;
    margin-left: 28%;
    font-size: 40px;
    color: rgb(255, 240, 240);
}
.main{
    position: absolute;
    top: 50%;
    margin-left: 600px;
    position: fixed;
    
}
.button{
    padding: 16px 25px;
    background: blue;
    border: 0;
    border-radius: 6px;
    font-size: 20px;
    cursor: pointer;
    color: white;
}
.button:hover{
    background: white;
    color: blue;
}
.main-p{
    position: absolute;
    margin-top: -200px;
    margin-left: 200px;
    padding-top: 30px;
    width: 70%;
    height: 20vh;
    background: white;
    color: black;
    font-size: 35px;
    text-align: center;
    justify-content: center;
    align-items: center;
    
}
@media screen and (max-width: 480px){
    .content{
        
        position: relative;

    }
    
    .h1{
        font-size: 25px;
        margin-left: 8px;
        
    }
    .img{
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 105vh;
        
    }
    .button{
        margin-top: 40px;
        margin-left: 20px;
    }
    .main{
        margin-left: 95px;
        margin-top: -200px;
    }
   .main-p{
       margin-top: -430px;
       width: 300px;
       font-size: 18px;
       margin-left: 45px;
       height: auto;
       padding-top: 12px;
       padding-bottom: 12px;
       box-sizing: content-box;
   }
}